.bodyCard {
    margin-top: 1%;
    /*margin-left: 30%;
    margin-right: 30%;*/
    height: 600px;
    width: 400px;
    background-image: url(/public/img/backgroundCard.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:contain;
}

.wordsLocation {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;}

.cardword {
    font-size: 7vw;
    padding-top: 10%;
}

.carddescription {
    font-size: 3vw;
}

.cardButton {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: none;
  background-color: rgb(84, 143, 84);
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.5vw;
  color: white;
  margin-top: 10%;
}

.cardButton:hover {
  background-color: rgb(120, 157, 120);
}

.buttonsCard {
    display: flex;
    flex-direction: row;
    margin-top: -8%;
    justify-content: center;
    gap: 5%;
  }

.buttonsBody {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .funcButton.left {
 background-color: red;
  }

 