.App {
  text-align: center;
height: auto;
}

.dataButton {
  display: flex;
  justify-content:space-between;
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  box-sizing:content-box;
  margin-top: -7%;
}



.navstyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  position: relative;
  margin-bottom: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #c5937790;
    box-shadow: 0 10px 10px #3a200090;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
